
GROQ_API_KEY=
OPENAI_API_KEY=
OPENAI_BASE_URL=
HIGHLIGHT_LLM_API_KEY=
HIGHLIGHT_LLM_BASE_URL=
HIGHLIGHT_LLM_MODEL=
GOOGLE_API_KEY=
OPENROUTER_API_KEY=
HF_TOKEN=

YTDLP_COOKIES_BROWSER=

OUTPUT_DIR=output
